table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    align-content: center;
}

table th, table td {
    padding: 10px;
    border: 1px solid #333;
    border-bottom: 1px solid #333;
    text-overflow: ellipsis;
}

.bookmark-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .stream-url {
        display: none;
    }

    .bookmark-item .btn {
        padding: 5px 10px;
        margin-inline-end: 5px;
        size-adjust: auto;
    }
}
