body {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 90%;
    padding: 20px;
    text-align: center;
}

/* Media display container */
#media-display {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

/* Marquee effect for the media title */
#media-title {
    width: 90%;
    overflow: hidden;
    margin: 0;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 15px;
    color: #ffffff;
}

/* Animation for the marquee effect */
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

button {
    align-items: center;
    padding: 10px 15px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

button:hover { 
    background-color: #555555;
}

button:active { 
    background-color: #777777;
    transform: translateY(2px);
}

.btn {
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 15px;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
    border-color: #28a745;
    padding: 10px 15px;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border-color: #dc3545;
}

.btn-warning {
    background-color: #ffc107;
    color: #fff;
    border-color: #ffc107;
}

.btn.primary {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.is-visible {
    opacity: 1;
    visibility: visible;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 2%;
}

.modal-content {
    background-color: #333333;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    max-height: fit-content;
    width: 90%;
    position: relative;
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.3s ease;
    overflow-wrap: break-word;
    padding: 20px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.modal.is-visible .modal-content {
    transform: scale(1);
    opacity: 1;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #888;
    transition: color 0.2s ease;
}

.modal-close:hover {
    color: #000;
}

@media (max-width: 600px) {
    .modal-content {
        max-width: 70%;
        max-height: fit-content;
        padding: fit-content;
        font-size: small;
    }
}