{% extends 'base.html' %}

{% block title %}
<title>{% if edit_mode %}Edit{% else %}Add{% endif %} Radio Stream</title>
{% endblock %}

{% block head_content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/radio/radio_form.css') }}">
{% endblock %}

{% block body_content %}
<h1>{% if edit_mode %}Edit{% else %}Add{% endif %} Radio Stream</h1>
<button type="button" onclick="go_to_back()">
            <i class="icon fas fa-angle-left"></i>Back
</button>
<div class="form-container">
    <form action="{% if edit_mode %}/radio/edit/{{ radio[0] }}{% else %}/radio/add{% endif %}" method="POST">
        {% if edit_mode %}
        <input type="hidden" name="radio_id" value="{{ radio[0] }}">
        {% endif %}
        <input type="text" 
            id="nameInput" 
            name="name" 
            placeholder="Radio Name"
            required 
            value="{% if edit_mode %}{{ radio[1] }}{% endif %}">

        <input type="url" 
            id="urlInput" 
            name="url" 
            placeholder="URL Stream" 
            required 
            value="{% if edit_mode %}{{ radio[2] }}{% endif %}">

        <button type="submit" class="btn btn-success">
            <i class="fas fa-paper-plane"></i> 
            {% if edit_mode %}Update{% else %}Submit{% endif %}
        </button>
    </form>
</div>
<script>
    function go_to_back() {
        window.location.href = '/radio';
    }
</script>
{% endblock %}
