{% extends 'base.html' %}

{% block title %}
<title>Music Collection</title>
{% endblock %}

{% block head_content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/music.css') }}">
{% endblock %}

{% block body_content %}
<h1>Local Music Collection</h1>
<button onclick="go_to_back()"><i class="icon fas fa-angle-left"></i>Back</button>
<table id="musicTable">
    <thead>
        <tr>
            <th>NAME</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody id="musicList">
        {% for item in music_catalog %}
            <tr>
                <td>{{ item.name }}</td>
                <td>
                    <button id="btn-playlist" data-path="{{ item.path }}">
                        <i class="fas fa-list"></i>
                    </button>
                    <button id="btn-bookmark" data-name="{{ item.name }}" data-path="{{ item.path }}">
                        <i class="fas fa-bookmark"></i>
                    </button>
                    <button id="btn-play" data-name="{{ item.name }}" data-path="{{ item.path }}">
                        <i class="fas fa-play"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function go_to_back() {
        window.location.href = '/';
    }

    document.querySelectorAll('#btn-play').forEach(button => {
        button.addEventListener('click', () => {
            const name = button.getAttribute('data-name');
            const path = button.getAttribute('data-path');
            play_music(name, path);
        });
    })

    function play_music(name, path) {
        showModalAndHideAfterDelay('Playing: ' + name, 1000);

        fetch(`/local/play/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ path: path })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('Local music play successful:', data);
        })
        .catch(error => {
            console.error('Error playing local music:', error);
        });
    }

    document.querySelectorAll('#btn-bookmark').forEach(button => {
        button.addEventListener('click', () => {
            const name = button.getAttribute('data-name');
            const path = button.getAttribute('data-path');
            add_bookmark(name, path);
        });
    })

    function add_bookmark(title, path) {
        showModalAndHideAfterDelay('Saved to bookmarks', 1000);

        const bookmarkData = {
            name: title,
            path: path
        };

        fetch('/bookmark/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(bookmarkData)
        })
        .then(response => response.json())
        .catch(error => console.error('Error adding bookmark:', error));
    }

    document.querySelectorAll('#btn-playlist').forEach(button => {
        button.addEventListener('click', () => {
            const path = button.getAttribute('data-path');
            view_playlist(path);
        });
    })

    function view_playlist(path) {
        const encodedPath = encodeURIComponent(path);
        fetch(`/music/playlist?path=${encodedPath}`, {method: 'GET'})
            .then(response => response.json())
            .then(data => {
                const name = path.split('/').pop();
                const headerTitle = '<h3>' + name + '</h3>';

                const bodyContent = data['files'].map(file => file.replace(/^.*\s(\d{2}\s.*)$/, '$1')).join('\n');

                const buttonPlay = `<button class="btn-play" onclick="play_music('${name}', '${path}')" style="border: 1px solid #fff; transition: background-color 0.3s ease;"><i class="fas fa-play"></i> Play</button>`;

                showModal(`${headerTitle}<div style="text-align: left; padding: 0 20px; line-height: 1.5;">${bodyContent}</div>\n\n${buttonPlay}`);
            })
            .catch(error => console.error('Error:', error));
    }
</script>
{% endblock %}